@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800;900&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}
.container {
  width: 50%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  min-height: 100vh;
  margin-top: 3%;
  }
  
  input[type="text"],
  select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input::placeholder, textarea::placeholder {
      font-family: Montserrat;
  }

  input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }
  
  
  input[type="submit"]:hover {
    background: #45a049;
  }
  
  .label {
      font-family: Montserrat;
      color: #646664c2;
      font-size: 18px;
  }
  .center-spaced{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
  }

  .right-btn {
    width: 160px;
    background-color: #ed4d24;
    color: white;
    padding: 18px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    box-shadow: 0px 6px 18px -5px #ed6755;
}
  .right-btn:hover{
    opacity: .8;
  }

  .sm-btn {
      width: 50px;
      height: 30px;
      border: none;
      color: rgba(255, 0, 0, 0.667);
      font-size: 28px;
      font-weight: bold;
  }

  .modal {
    position: fixed; 
    z-index: $layer-modal-z-index;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #001919b8;
    transition: $opacity-transition;
   
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 35px 35px;
    border: none;
    width: 40%;
    max-height: calc(100vh - 200px);
    border-radius: 5px;
    animation: scaled .3s ease-in-out;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
  body {
    background: $color-body-bg;
    font-family: $content-font-family;
    font-weight: $content-font-weight;
    color: $color-text;
  }

  .bold {
    font-size: 20px;
    font-weight: 800;  
  }

  .semi-bold {
    font-size: 16px;
    font-weight: 600;
  }

  .error {
    color: rgb(255, 59, 59);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(237, 77, 36, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 70, 70);
}




  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container{
    width: 90%;
  }
  .modal-content{
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    width: 70%;
  }
  .modal-content{
    width: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    width: 60%;
  }
  .modal-content{
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    width: 50%;
  }
  .modal-content{
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    width: 50%;
  }
  .modal-content{
    width: 50%;
  }
}
